<div class="mobile-nav-bar__tabs">
  <app-mobile-nav-bar-tab path="/profile" label="Profile"
    (mobileNavBarTabClick)="onMobileNavBarTabClick($event)"></app-mobile-nav-bar-tab>
  <app-mobile-nav-bar-tab path="/products" label="Products"
    (mobileNavBarTabClick)="onMobileNavBarTabClick($event)"></app-mobile-nav-bar-tab>
  <ng-container *ngIf="isAuthenticated$ | async">
    <app-mobile-nav-bar-tab path="/shortly" label="Shortly"
      (mobileNavBarTabClick)="onMobileNavBarTabClick($event)"></app-mobile-nav-bar-tab>
    <app-mobile-nav-bar-tab path="/admin" label="Admin"
      (mobileNavBarTabClick)="onMobileNavBarTabClick($event)"></app-mobile-nav-bar-tab>
  </ng-container>
</div>