<app-page-layout>
  <div class="content-layout">
    <h1 class="content__title">
      <a href="assets/products.json" target="_blank">Products</a>
    </h1>
    <div class="content__body">
      <p id="page-description">
        <span>All users can view this public page.</span>
      </p>
      <table *ngIf="products.length > 0; else error" mat-table [dataSource]="products" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element">
            <a href="javascript:;">{{element.id}}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price | currency:'USD'}} </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity | number}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <ng-template #error>
        <pre>{{ message }}</pre>
      </ng-template>
    </div>
  </div>
</app-page-layout>
