@import "theme.css";
@import "general.css";
@import "components/index.css";

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
}
