<app-page-layout>
  <div class="content-layout">
    <h1 id="page-title" class="content__title">Admin Page</h1>
    <div class="content__body">
      <p id="page-description">
        <span>Authenticated users with the <code>read:messages</code> permission can view this page.</span>
      </p>
      <table *ngIf="items.length > 0; else error" mat-table [dataSource]="items" class="mat-elevation-z8">
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> Code </th>
          <td mat-cell *matCellDef="let element">
            <a href="javascript:;">{{ element.code }}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="longUrl">
          <th mat-header-cell *matHeaderCellDef> Long URL </th>
          <td mat-cell *matCellDef="let element"> {{element.longUrl}} </td>
        </ng-container>
        <ng-container matColumnDef="shortUrl">
          <th mat-header-cell *matHeaderCellDef> Short URL </th>
          <td mat-cell *matCellDef="let element"> {{element.shortUrl}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <ng-template #error>
        <pre>{{ message }}</pre>
      </ng-template>
    </div>
  </div>
</app-page-layout>